<div id="carouselExampleIndicators" class="carousel slide hidden-sm-down" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <%= image_tag('kitchen-elegant.jpg', :class => 'd-block img-fluid carouselImg') %>
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselTitle">CUSTOM LUXURY HOME DESIGN &amp; BUILD</h3>
        <p id="carouselText">The Birch Hill Advantage: <br /> DESIGNED WITH VISION <i class="fa fa-star" aria-hidden="true"></i> PLANNED WITH PURPOSE <i class="fa fa-star" aria-hidden="true"></i> CONSTRUCTED WITH QUALITY <i class="fa fa-star" aria-hidden="true"></i> COMPLETED WITH CARE </p>
        <br>
        <%= link_to 'Learn More', 'http://www.birchhilldevelopments.com', :class => 'btn btn-lg btn-outline-info link-left learnMoreLink' %>
        <%= link_to 'Contact Us', 'http://www.birchhilldevelopments.com/contact-us', :class => 'btn btn-lg btn-outline-danger link-right contactUs' %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('flood-damage.jpg', :class => 'd-block img-fluid carouselImg') %>
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselTitle">WATER &amp; FLOOD DAMAGE RESTORATION SERVICES</h3>
        <p id="carouselText">Residential &amp; Commercial water damage restorative services 24/7 365. We're here for you and your property.</p>
        <br>
        <%= link_to 'Learn More', '#', :class => 'btn btn-lg btn-outline-info link-left learnMoreLink' %>
        <%= link_to 'Contact Us', '#', :class => 'btn btn-lg btn-outline-danger link-right contactUs' %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('aico-exterior.jpg', :class => 'd-block img-fluid carouselImg') %>
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselTitle">ROOFING &amp; SIDING DONE RIGHT</h3>
        <p id="carouselText">Trust a roofer or siding expert that truly cares, with AICO you will always get quality service and expert advice.</p>
        <br>
        <%= link_to 'Learn More', 'http://aicoexteriors.com', :class => 'btn btn-lg btn-outline-info link-left learnMoreLink' %>
        <%= link_to 'Contact Us', 'http://aicoexteriors.com/contact-us', :class => 'btn btn-lg btn-outline-danger link-right contactUs' %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('mold-removal.jpg', :class => 'd-block img-fluid carouselImg') %>
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselTitle">MOLD ABATEMENT &amp; RESTORATIVE SERVICES</h3>
        <p id="carouselText">residential &amp; Commercial mold removal and restorative services. We're here for you and your property.</p>
        <br>
        <%= link_to 'Learn More', '#', :class => 'btn btn-lg btn-outline-info link-left learnMoreLink' %>
        <%= link_to 'Contact Us', '#', :class => 'btn btn-lg btn-outline-danger link-right contactUs' %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('asbestos-removal.jpg', :class => 'd-block img-fluid carouselImg') %>
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselTitle">ASBESTOS ABATEMENT &amp; RESTORATIVE SERVICES</h3>
        <p id="carouselText">Residential &amp; Commercial asbestos removal and restorative services. We're here for you and your property.</p>
        <br>
        <%= link_to 'Learn More', '#', :class => 'btn btn-lg btn-outline-info link-left learnMoreLink' %>
        <%= link_to 'Contact Us', '#', :class => 'btn btn-lg btn-outline-danger link-right contactUs' %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('crime-scene.jpg', :class => 'd-block img-fluid carouselImg') %>
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselTitle">CRIME SCENE &amp; BIOHAZARDOUS RESTORATIVE SERVICES</h3>
        <p id="carouselText">Residential &amp; Commercial crime scene and biohazardous clean up and restorative services. We're here for you and your property.</p>
        <br>
        <%= link_to 'Learn More', '#', :class => 'btn btn-lg btn-outline-info link-left learnMoreLink' %>
        <%= link_to 'Contact Us', '#', :class => 'btn btn-lg btn-outline-danger link-right contactUs' %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('restoration-svc.jpg', :class => 'd-block img-fluid carouselImg') %>
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselTitle">GENERAL RESTORATIVE &amp; CONTRACTING SERVICES</h3>
        <p id="carouselText">From older homes in desperate need of renovations or rebuilds to infills, let us get your project done on time, budget and schedule.</p>
        <br>
        <%= link_to 'Learn More', '#', :class => 'btn btn-lg btn-outline-info link-left learnMoreLink' %>
        <%= link_to 'Contact Us', '#', :class => 'btn btn-lg btn-outline-danger link-right contactUs' %>
      </div>
    </div>
    <div class="carousel-item">
      <%= image_tag('fire-restoration.jpg', :class => 'd-block img-fluid carouselImg') %>
      <img class="d-block img-fluid" src="#" alt="First slide">
      <div class="carousel-caption d-none d-md-block">
        <h3 id="carouselTitle">SMOKE &amp; FIRE DAMAGE RESTORATION SERVICES</h3>
        <p id="carouselText">Residential &amp; Commercial fire damage restorative services 24/7 365. When you need us most we'll be there for you!</p>
        <br>
        <%= link_to 'Learn More', '#', :class => 'btn btn-lg btn-outline-info link-left learnMoreLink' %>
        <%= link_to 'Contact Us', '#', :class => 'btn btn-lg btn-outline-danger link-right contactUs' %>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="row hidden-sm-down">
  <div class="col-12 aicoHome1">
    <div class="container">
      <center><h2 class="aicoIntroHeader">24/7 RESTORATION SERVICES WHEN YOU NEED THEM</h2></center>
      <br>
      <center><p class="aicoIntroBody">Restoration refers to the act of restoring something to its original state, quality and or worth. Aico Construction aims to restore your property to its pre-damage state. Whether you home was damaged by water, fire, hail, asbestos or any other source; restoration professionals work to return your home or business to the same or superior levels of quality, safety, cleanliness, and comfort!</p></center>
      <br>
      <center><%= link_to 'Contact Us 24/7', '#', :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
    </div>
  </div>
</div>

<div class="row hidden-sm-up">
  <div class="col-12 aicoHome1">
    <div class="container">
      <center><h6 class="aicoIntroHeader">24/7 RESTORATION SERVICES</h6></center>
      <br>
      <center><p class="aicoIntroBody">Restoration refers to the act of restoring something to its original state, quality and or worth. Aico Construction aims to restore your property to its pre-damage state. Whether you home was damaged by water, fire, hail, asbestos or any other source; restoration professionals work to return your home or business to the same or superior levels of quality, safety, cleanliness, and comfort!</p></center>
      <br>
      <center><%= link_to 'Contact Us 24/7', '#', :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
    </div>
  </div>
</div>

<div class="row hidden-sm-down">
  <div class="col-12 aicoHome2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <center><h2 class="aicoServicesHeader hide-sm-down">EMERGENCY SERVICES PROVIDED</h2></center>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-fire fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Fire Damage</span>
          </center>
        </div>
        <br>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-tint fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Water Damage</span>
          </center>
        </div>
        <br>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-leaf fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Mold Abatement</span>
          </center>
        </div>
        <br>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-refresh fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Asbestos Abatement</span>
          </center>
        </div>
        <br>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-flask fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Biohazard Services</span>
          </center>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-cloud fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Wind &amp; Hail</span>
          </center>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <center><%= link_to 'Call Us 24/7 - 365', '#', :class => 'btn btn-lg btn-outline-secondary aicoSvcCallBtn' %></center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row hidden-sm-up">
  <div class="col-12 aicoHome2">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <center><h4 class="aicoServicesHeader hide-sm-down">EMERGENCY SERVICES</h4></center>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-fire fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Fire Damage</span>
          </center>
        </div>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-tint fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Water Damage</span>
          </center>
        </div>
        <br>
        <div class="col-sm-6 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-leaf fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Mold Abatement</span>
          </center>
        </div>
        <br>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-refresh fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Asbestos Abatement</span>
          </center>
        </div>
        <br>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-flask fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Biohazard Services</span>
          </center>
        </div>
        <div class="col-xs-4 col-sm-4 col-md-3 col-lg-2">
          <center>
            <i class="fa fa-cloud fa-5x svcIcon" aria-hidden="true"></i><br /><span class="svcText">Wind &amp; Hail</span>
          </center>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <center><%= link_to 'Call Now!', '#', :class => 'btn btn-lg btn-outline-secondary aicoSvcCallBtn' %></center>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row hidden-sm-down">
  <div class="col-12 aicoHome3">
    <div class="container">
      <center><h2 class="aicoChooseUsHeader">CANADIAN OWNED AND OPERATED</h2></center>
      <br>
      <center><p class="aicoIntroBody">
        Even small instances of water, fire and or mold damage weaken the integrity of building materials, allowing for further damage after the initial incident. If not remedied, the damage can lead to major issues in you home or business. It is always recommended to book an inspection with your trusted restoration professional, should you notice any signs of water, fire or mold damage. In Canada, water damage from flooding and or rain is often considered the most common form of property damage; though fire, mold, wind and hail can also have serious impacts on Canadian households and business’ alike. canadas' unpredictable weather means that canadian properties can be at risk of various forms of property damages.
      </p></center>

      <center><p class="aicoIntroBody">
        Restoration services can cause for poison gasses and dangerous materials to be released and then removed from the home. The restoration process is an intensive procedure that can be very dangerous for untrained individuals. It is never recommended to attempt to fix your own water, fire or mold damage and is always best to work with an experienced property damage restoration professional.
      </center></p>
      <br>
      <center><%= link_to 'Why Choose AICO?', '#', :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
    </div>
  </div>
</div>

<div class="row hidden-sm-up">
  <div class="col-12 aicoHome3">
    <div class="container">
      <center><h4 class="aicoChooseUsHeader">CANADIAN OWNED</h4></center>
      <br>
      <center><p class="aicoIntroBody">
        Even small instances of water, fire and or mold damage weaken the integrity of building materials, allowing for further damage after the initial incident. If not remedied, the damage can lead to major issues in you home or business. It is always recommended to book an inspection with your trusted restoration professional, should you notice any signs of water, fire or mold damage. In Canada, water damage from flooding and or rain is often considered the most common form of property damage; though fire, mold, wind and hail can also have serious impacts on Canadian households and business’ alike. canadas' unpredictable weather means that canadian properties can be at risk of various forms of property damages.
      </p></center>
      <br>
      <center><%= link_to 'Why AICO?', '#', :class => 'btn btn-lg btn-outline-secondary aicoIntroContactBtn' %>
    </div>
  </div>
</div>
