Message#contact_me

<p>
  <%= @greeting %>, you have received a new customer lead from AICO.ca<br />
  <br />
  Sent By: <%= @name %><br />
  Email Address: <%= @email %><br />
  Telephone: <%= @tel %><br />
  Subject: <%= @subject %><br>
  <%= @body %>
</p>
