<p>
  <strong>Unit number:</strong>
  <%= @location.unit_number %>
</p>

<p>
  <strong>Street number:</strong>
  <%= @location.street_number %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @location.street_name %>
</p>

<p>
  <strong>Quad:</strong>
  <%= @location.quad %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Province:</strong>
  <%= @location.province %>
</p>

<p>
  <strong>Postal code:</strong>
  <%= @location.postal_code %>
</p>

<p>
  <strong>Local tel:</strong>
  <%= @location.local_tel %>
</p>

<p>
  <strong>Toll free:</strong>
  <%= @location.toll_free %>
</p>

<p>
  <strong>New build:</strong>
  <%= @location.new_build %>
</p>

<p>
  <strong>Exteriors:</strong>
  <%= @location.exteriors %>
</p>

<p>
  <strong>General contracting:</strong>
  <%= @location.general_contracting %>
</p>

<p>
  <strong>Flood:</strong>
  <%= @location.flood %>
</p>

<p>
  <strong>Water:</strong>
  <%= @location.water %>
</p>

<p>
  <strong>Asbestos:</strong>
  <%= @location.asbestos %>
</p>

<p>
  <strong>Wind hail:</strong>
  <%= @location.wind_hail %>
</p>

<p>
  <strong>Biohazard:</strong>
  <%= @location.biohazard %>
</p>

<p>
  <strong>Grow op:</strong>
  <%= @location.grow_op %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
