<!DOCTYPE html>
<html>

  <head>
    <title>Aico Construction Inc.</title>
    <%= csrf_meta_tags %>
    <%= metamagic %>
    <%= render 'application/favicon' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/efee8a67b2.js"></script>
  </head>

  <header>
    <%= render partial: 'nav/signed_out' %>
  </header>

  <body>
    <%= yield %>
  </body>

  <%= render partial: 'footer/footer' %>

  <!-- Scripts -->

  <!-- Google Code for Aico.ca Conversion Page -->
  <script type="text/javascript">
    /* <![CDATA[ */
      var google_conversion_id = 862550048;
      var google_conversion_language = "en";
      var google_conversion_format = "3";
      var google_conversion_color = "ffffff";
      var google_conversion_label = "HZjLCLeIqnAQoPClmwM";
      var google_conversion_value = 500.00;
      var google_conversion_currency = "CAD";
      var google_remarketing_only = false;
    /* ]]> */
  </script>

  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js"></script>

  <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/862550048/?value=500.00&amp;currency_code=CAD&amp;label=HZjLCLeIqnAQoPClmwM&amp;guid=ON&amp;script=0"/>
    </div>
  </noscript>

  <div id="fb-root"></div>
  <script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

</html>
