<!DOCTYPE html>
<html>

  <head>
    <title>Aico Construction Inc.</title>
    <%= csrf_meta_tags %>
    <%= metamagic %>
    <%= render 'application/favicon' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/efee8a67b2.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_xom-ewAlhBrLsyxG8CkvglZoGaXPxyE&callback=initMap"async defer></script>
    <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
    <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script>
  </head>

  <header>
    <%= render partial: 'nav/signed_out' %>
    <% if flash[:success] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="container">
        <center><strong><%= flash[:success] %></center></strong>
      </div>
    </div>
    <% elsif flash[:notice] %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div class="container">
        <center><strong><%= flash[:notice] %></center></strong>
      </div>
    </div>
    <% elsif flash[:info] %>
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <div class="container">
        <center><strong><%= flash[:info] %></center></strong>
      </div>
    </div>
    <% elsif flash[:warning] %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div class="container">
        <center><strong><%= flash[:warning] %></center></strong>
      </div>
    </div>
    <% elsif flash[:danger] %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div class="container">
        <center><strong><%= flash[:danger] %></center></strong>
      </div>
    </div>
    <% end %>
  </header>

  <body>
    <%= yield %>
  </body>

  <%= render partial: 'footer/footer' %>
  <!-- Scripts -->

  <script>
    $(".alert").delay(5000).slideUp(400, function() {
        $(this).alert('close');
    });
  </script>

</html>
